.social {
    color: white;
    background-color: var(--expedia-blue);
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.social .socialColumn {
    margin-bottom: 1rem;
}

.socialBody {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 533px;
}

.careersImage {
    object-fit: cover;
    height: 100%;
}
