name: Build and release site to GitHub Pages

on:
  push:
    branches: [main]
  schedule:
    # daily build
    - cron:  '0 0 * * *'

jobs:
  gh-pages-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Install Node.js modules
        run: |
          npm ci

      - name: Build and push repositories json
        env:
          GITHUB_API_TOKEN: ${{ secrets.EG_GITHUB_TOKEN }}
        run: |
          git config --global user.email "oss@expediagroup.com"
          git config --global user.name "eg-oss-ci"
          npm run build-repo-data
          if git diff --quiet; then
            echo "No changes to repositories data"
          else
            git add static/repos.json
            git commit -m "Updated repos.json"
            git push
          fi

      - name: Build site
        run: |
          npm run build

      - name: Validate content of cname file
        run: cat ./build/CNAME | grep opensource.expediagroup.com

      - name: Release to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          user_name: eg-oss-ci
          user_email: oss@expediagroup.com
